# Node.js関連
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 環境変数ファイル
.env
.env.local
.env.*.local

# ビルド成果物
dist/
build/

# OSやエディタ固有のファイル
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/